<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <h1>About Tommy Engel</h1>
    <div>
      Tommy Engel (* November 28, 1949 in Cologne as Thomas Richard Engel) is a
      German musician and former television actor. He became known as the
      frontman of the Cologne band Bläck Fööss and solo throughout the
      Rhineland.
      <img
        src="https://imgs.search.brave.com/IUtsOztTgZ78N0xMbLxSXV8P4CwoGci45LFNbz2_bEU/rs:fit:940:470:1/g:ce/aHR0cHM6Ly9tb2Jp/bC5rc3RhLmRlL2lt/YWdlLzMzNTI1Njky/LzJ4MS85NDAvNDcw/L2NjNGVmZmY1Njli/MWRkNzBjNWQ2NDAw/Y2UxNWJiYzQ1L3Bv/L2JsYWVjay1mb2Vv/ZXNzLmpwZw"
        alt="Black Fööss"
      />
    </div>
  </body>
</html>
