<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Tommy Engel Fanclub</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <h1>Welcome to the international fanclub of Tommy Engel</h1>
    <img
      src="https://imgs.search.brave.com/LkYNET1nnJbWaDOlU8rWhWhgSX3Du8Iy7KJOIlfJcZs/rs:fit:896:448:1/g:ce/aHR0cHM6Ly9tb2Jp/bC5rc3RhLmRlL2lt/YWdlLzYyNzU1Mzgv/MngxLzk0MC80NzAv/YmE3MDMzOWJmNGU5/MDQwMDVmMDViM2Nm/YmQ5MzhjZmMvaXUv/ZW5nZWwxMi1qcGcu/anBn"
      alt="Tommy Engel"
    />
  </body>
</html>
